:root {
  font-family: Tahoma, serif, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: underline;
}

body, #root {
  margin: 0;
  padding: 0;
  background-color: white;
  min-height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  min-width: 320px;
}

header, footer {
  width: 100%; 
  background-color: #212530;
  padding: 0.625rem 0;
  margin-bottom: 1.25rem;
}

h2 {
  text-align: center;
  margin: 0;
  padding: 0;
}

.wrapper {
  justify-items: center;
  display: grid;
  width: 100vw;
  overflow-x: auto;
  margin-top: 2rem;
}

.contentContainer {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 4fr 3fr 1fr;
}

.ts-left {
  justify-self: right;
  margin-right: 2rem; 
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nowrap-text {
  white-space: nowrap;
}

/* Tahoma has no italics */
.references {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0.625rem;
}

select {
  font-family: Tahoma, sans-serif;
  font-size: 1rem;
  padding: 0.25rem 1rem;
  border-bottom: 1px solid gray;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: white;
  color: black;
  cursor: pointer;
}

select:hover {
 background-color: #dedede;
}

ul {
  padding-left: 1rem;
  margin-left: 0;
  display: grid;
  justify-content: left;
  list-style-type: '– ';
  line-height: 1.6;
}

.row {
  display: grid;
  grid-auto-flow: column;
  text-align: justify;
  gap: 0.25rem;
}

.label {
  justify-self: left;
}
.value {
  justify-self: right;
  font-variant-numeric: monospace;
}